.listbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

.item-name {
  flex-grow: 1;
}

.item-icon {
  margin-left: auto;
  cursor: pointer;
}

.item-icon.selected {
  color: gold;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.p-listbox-item.p-highlight {
  color: black;
  background-color: #79e1a6;
}

.p-listbox-item {
  margin-bottom: 3px;
}

.p-listbox .p-listbox-list .p-listbox-item {
  pointer-events: none;
}

.item-icon {
  pointer-events: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 0;
}

.button-icon {
  width: 70px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-list {
  display: flex;
}

.button-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.p-button {
  border-radius: 0;
  border: none;
}

.c-button {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 30px;
  padding: 20px 0;
}

.p-dialog .p-dialog-header {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (min-width: 320px) {
  .container {
    max-width: 768px;
  }
}
@media (max-height: 630px) {
  .c-button {
    font-size: 25px;
    padding: 15px 0;
  }
}
