.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 0;
}

.w-button {
  width: 100px;
  height: 100px;
}

.button-list {
  display: flex;
}

.button-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-button {
  background-color: red;
  width: 100%;
  font-size: 30px;
  padding: 20px 0;
}

@media (min-width: 320px) {
  .container {
    max-width: 768px;
  }
}
