.termbox .acceptance-line {
  display: flex;
  align-items: center;
}

.termbox .acceptance-line span {
  margin: 0;
  margin-left: 0.5em;
  font-size: 12px;
}

.termbox .p-link {
  color: rgb(114, 3, 219);
  font-size: 12px;
}

.termbox .p-link:hover {
  text-decoration: underline;
  background-color: transparent;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
}
